.hero {
  width: 100%;
  color: $white;
  padding: 64px 0;
  overflow: hidden;
}

.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  @include media-lg {
    flex-direction: row;
  }

  input, .select {
    flex-grow: 1;
    margin-bottom: 16px;

    @include media-lg {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}

.hero__article {
  text-align: center;

  @include media-lg {
    text-align: left;
    max-width: 450px;
  }

  h2 {
    margin-bottom: 16px;
  }
}

.hero__img {
  display: none;
  max-width: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: 64px;

  @include media-lg {
    display: flex;
  }
}
