* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: $font-weight-base;
  font-family: $font-family;
  background: $body-bg;
  color: $body-color;
  line-height: 1.33;
  scroll-behavior: smooth;
  padding-top: $header-height;
}

a {
  color: inherit;
  transition: $transition;

  &,
  &:hover {
    text-decoration: none;
  }
}

::selection {
  background: $primary;
  color: $dark;
}

.link-blue {
  color: $style-0;
  border-bottom: 1px solid $style-0;

  &:hover {
    color: $primary;
    border-color: $primary;
  }
}

.full-width{
  width: 100%;
}